<div class="login-container">
    <div class="container display-flex flex-end">
        {% if user.is_authenticated %}
        Welcome, {{ user| safe }} |
        <a href="{% url 'logout' %}">LOGOUT</a>
        {% else %}

        <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#loginModal">LOGIN</a> |

        <a href="#" role="button" data-bs-toggle="modal" data-bs-target="#registerModal"><span>REGISTER</span></a>
        {% endif %}
    </div>
</div>

{% include 'registration/login_modal.html' %}
{% include 'registration/register_modal.html' %}