{% load static %}
<div class="form-modal login-modal modal fade " id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" id="loginModalLabel">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="logo-container display-flex">
                    <span><img class="modal-logo" src="{% static 'images/perfectos.png' %}" height="120" alt=""></span>
                </div>

                <div class="messages">
                    <p id="response-message"></p>
                </div>

                <form id="login-form" method=POST>
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" id="username" placeholder="Username"
                            required autocomplete="off">
                        <span class="validation-message" id="username-check">Username is required</span>
                    </div>

                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                            required>
                        <span class="validation-message" id="pass-check">Password is required</span>
                    </div>

                    <div class="card-footer">
                        <input id="login-button" type="submit" value="Log In"
                            class="float-end btn-reservation btn-login">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
