<div class="form-modal register-modal modal fade " id="registerModal" tabindex="-1" aria-labelledby="loginModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="logo-container display-flex">
                    <span><img class="modal-logo" src="../../static/images/Perfecto's.png" height="120" alt=""></span>
                </div>
                
                <div class="messages">
                    <p id="response-message"></p>
                </div>
            

                <form id="register-form" action="{% url 'register_user' %}" method=POST>
                    {% csrf_token %}
                    <div id="form-content"> {{ form.as_p }}</div>
                    <input type="submit" id="register-btn" value="Register" class="btn-reservation">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        let register_btn = $("#register-btn")
        if (register_btn) {
            register_btn.on("click", function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/register_user',
                    type: 'post',
                    data: $('#register-form').serialize(),
                    success: function (data) {
                        $('#register-form').find('#form-content').html("")
                        $('.register-modal #response-message').text(data).addClass("text-success")
                        window.location.replace("/");
                    },
                    error: function (data) {
                        $('#register-form').find('#form-content').html(data.responseText)
                        $("#register-form ul.errorlist li, #register-form ul.errorlist").each(function (el) {
                            $(this).css('display', 'block')
                        })
                    }
                });
            });
        }
    });
</script>