{% extends 'base.html' %}

{% block content %}
<section>
  <div class="hero-content text-center">
    <h1>Welcome to <br><span>Perfecto's</span></h1>
    <div class="btns">
      <a href="#" role="button" class="btn-reservation white" data-bs-toggle="modal"
        data-bs-target="#reservationModal">Reserve a Table</a>
    </div>
  </div>
  <div id="hero-carousel" class="carousel slide carousel-fade hero-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://res.cloudinary.com/dhign8ar8/image/upload/v1677141081/pexels-bea-dela-cruz-12594202_y4v9pa.jpg"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dhign8ar8/image/upload/v1677141071/pexels-daniel-reche-3616956_drw7d8.jpg"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dhign8ar8/image/upload/v1676896276/hero-bg_wj6qoh.jpg" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
{% endblock %}