{% extends 'base.html' %}

{% block content %}
<section class="parallax-container">
  <div class="hero-content text-center">
    <h1>Welcome to <br><span>Perfecto's</span></h1>
    <div class="btns">
      <a href="{% url 'food:food_list' %}" role="button" class="btn-reservation white">View our Special Menu</a>

    </div>
  </div>
  <div id="hero-carousel" class="carousel slide carousel-fade hero-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://res.cloudinary.com/dhign8ar8/image/upload/v1677141081/pexels-bea-dela-cruz-12594202_y4v9pa.jpg"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dhign8ar8/image/upload/v1677141071/pexels-daniel-reche-3616956_drw7d8.jpg"
          alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://res.cloudinary.com/dhign8ar8/image/upload/v1676896276/hero-bg_wj6qoh.jpg" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="buffer display-flex" id="about-us">
  <div class="title">
    <h2>About Us</h2>
  </div>
</section>


<section class="parallax-container parallax-container2">
  <div class="section-content display-flex">
    <div class="card card-yellow col-md-6">
      <p>Welcome to <strong>Perfecto's Restaurant</strong>, where we are dedicated to providing you with a truly
        memorable dining experience. Our restaurant is the perfect place to unwind, catch up with friends and family,
        and indulge in delicious cuisine.</p>

      <p>At <strong>Perfecto's Restaurant</strong>, we believe that great food starts with great ingredients. That's why
        we work closely with local farmers and suppliers to source the freshest and highest quality ingredients for our
        dishes. Our chefs are passionate about food and are constantly exploring new recipes and cooking techniques to
        bring you the very best culinary experience.</p>

      <p>We are also committed to providing exceptional customer service. Our friendly and knowledgeable staff will make
        sure that you feel welcome and comfortable from the moment you walk in the door. We believe that dining out
        should be more than just a meal - it should be an experience.</p>

      <p>Our menu is designed to please all palates, with a wide variety of dishes that are sure to satisfy. From
        classic favorites like burgers and pizza, to innovative new creations, we have something for everyone. We also
        offer an extensive drink menu, featuring a variety of craft beers, wines, and cocktails to complement your meal.
      </p>

      <p>Thank you for choosing <strong>Perfecto's Restaurant</strong> for your next dining experience. We are committed
        to providing exceptional food, service, and hospitality, and we look forward to serving you soon!</p>

    </div>
  </div>
</section>

<section class="buffer display-flex" id="our-menu">
  <div class="title">
    <h2>Our Menu</h2>
  </div>
</section>

<section class="parallax-container parallax-container3">
  <div class="menu-container row">

    <div class="menu-item col-lg-3 col-md-4 col-sm-12">
      <div class="menu-body">
        <img class="img-fluid" src="../static/images/pexels-alina-matveycheva-15529686.jpg" alt="">
        <div class="menu-content">
          <span class="title">Tapsilog</span>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"> </i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <i class="fas fa-star-half-alt text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <p class="text-muted">4.5 (2,000)</p>
            </li>
          </ul>

          <span class="description">Our Tapsilog is a classic Filipino breakfast dish featuring savory marinated beef,
            garlic fried rice, and a sunny-side-up egg. Delicious and filling - try it today!</span>
          <hr>
          <span class="price">
            $ 30
          </span>
        </div>
      </div>
    </div>

    <div class="menu-item col-lg-3 col-md-4 col-sm-12">
      <div class="menu-body">
        <img class="img-fluid" src="../static/images/pexels-alina-matveycheva-15529686.jpg" alt="">
        <div class="menu-content">
          <span class="title">Tapsilog</span>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"> </i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <i class="fas fa-star-half-alt text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <p class="text-muted">4.5 (2,000)</p>
            </li>
          </ul>

          <span class="description">Our Tapsilog is a classic Filipino breakfast dish featuring savory marinated beef,
            garlic fried rice, and a sunny-side-up egg. Delicious and filling - try it today!</span>
          <hr>
          <span class="price">
            $ 30
          </span>
        </div>
      </div>
    </div>

    <div class="menu-item col-lg-3 col-md-4 col-sm-12">
      <div class="menu-body">
        <img class="img-fluid" src="../static/images/pexels-alina-matveycheva-15529686.jpg" alt="">
        <div class="menu-content">
          <span class="title">Tapsilog</span>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"> </i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item me-0">
              <i class="fas fa-star text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <i class="fas fa-star-half-alt text-warning fa-xs"></i>
            </li>
            <li class="list-inline-item">
              <p class="text-muted">4.5 (2,000)</p>
            </li>
          </ul>

          <span class="description">Our Tapsilog is a classic Filipino breakfast dish featuring savory marinated beef,
            garlic fried rice, and a sunny-side-up egg. Delicious and filling - try it today!</span>
          <hr>
          <span class="price">
            $ 30
          </span>
        </div>
      </div>
    </div>

  </div>
</section>

<footer class="footer">
    
    <div class="container footer-container">
        <div class="social-links">
            <h4>Follow us:</h4>
            <a href="#" class="twitter"><i class="fa-brands fa-square-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa-brands fa-square-facebook"></i></i></a>
            <a href="#" class="instagram"><i class="fa-brands fa-square-instagram"></i></i></a>
            <a href="#" class="tiktok"><i class="fa-brands fa-tiktok"></i></i></a>
          </div>
        <div class="copyright">
            &copy; Copyright <strong><span>2023 Perfecto's Restaurant</span></strong>. All Rights Reserved
        </div>
    </div>
</footer>
{% endblock %}

