{% extends 'book/base.html' %}

{% block content %}

{% if user.is_authenticated %}
  <div class="section-title">
      <h2>Reservation</h2>
      <p>Book a Table</p>
  </div>
  {% if submitted %}
  <div class="alert alert-success" role="alert">
    Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!
  </div>
    

  {% else %}
    <form action="" method="post" role="form">
      {% csrf_token %}

      {{ form.as_p }}
      <input type="submit" value="Book a Table" class="btn btn-primary">
    </form>
  {% endif %}

{% else %}
  <h1>You must be logged in to view this Page.</h1>
  <a href="{% url 'login' %}">Login Here</a>
{% endif %}


{% endblock %}