{% extends 'book/base.html' %}

{% block content %}


<div class="card">
    <div class="card-header">
      Reservation details:
    </div>
    <div class="card-body">
      <h5 class="card-title">Branch: </strong>{{ book.branch }}</h5>
      <p class="card-text"><ul>
        <li><strong>Name: </strong>{{ book.name }}</li>
        <li><strong>Date: </strong>{{ book.book_date }}</li>
        <li><strong>Time: </strong>{{ book.book_time }}</li>
        <li><strong>Number of Guests: </strong>{{ book.people }}</li>
        <li><strong>Contact Number: </strong>{{ book.phone }}</li>
        <li><strong>Message: </strong>{{ book.message }}</li>
    </ul></p>
    </div>
    {% if user.is_authenticated %}
    <div class="card-footer text-muted">
      <a href="{% url 'update-reservation' book.id %}" class="btn btn-outline-success btn-sm">Update</a>
      <a href="{% url 'delete-reservation' book.id %}" class="btn btn-outline-danger btn-sm">Cancel Reservation</a>
    </div>
    {% endif %} 
  </div>
{% endblock %}
